<div class="container">
    <h1>Project Dashboard</h1><br>
  
      <div class="container-fluid collapse navbar-collapse">
            <div class="row">
                <ul class="nav navbar-nav">
                     <li class="list-group-ite"><a  
                      class="btn-default a1" 
                      data-toggle="modal" data-target="#myModal" (click)="addClicked()">Add </a></li>
                     <li class="list-group-ite"> <a  data-toggle="button" class="btn-danger a1">Delete </a></li>
                     <li class="list-group-ite"><a  data-toggle="button" class="btn-primary a1">Edit</a></li>
                </ul>
            </div>
                <div class="row">

                </div>
      </div>
  <br>
<div class="table-responsive ">          
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
              <th>Client</th>
              <th>StartDate</th>
              <th>EndDate</th>
               <th>Vertical</th>
                <th>Level</th>
                 <th>Assigned To</th>
                  <th>Manager</th>
                    <th>Status</th>
                      
            </tr>
          </thead>
          <tbody>
            <tr>
             
               <td><p class="list-group-item1" *ngFor="let ProName of details1">{{ProName.Pro_Name}}</p></td>
               <td><p class="list-group-item1" *ngFor="let ProID of details1">{{ProID.Pro_id}}</p></td>
               <td><p class="list-group-item1" *ngFor="let ProClient of details1">{{ProClient.Client}}</p></td>
               <td><p class="list-group-item1" *ngFor="let Cdate of details1">{{Cdate.Commission_Date}} </p></td>
              <td><p class="list-group-item1" *ngFor="let Edate of details1">{{Edate.End_Date}} </p></td>
              <td><p class="list-group-item1" *ngFor="let Geo of details1">{{Geo.Geo_vertical}} </p></td>
              <td><p class="list-group-item1" *ngFor="let PLevel of details1"
             [ngClass]="{
                 'text-success':PLevel.Prority_level == 'Low',
                 'text-danger':PLevel.Prority_level == 'High',
                 'text-primary':PLevel.Prority_level == 'Medium'
          }"
             >{{PLevel.Prority_level}}</p></td>
              <td><p class="list-group-item1" *ngFor="let Assign of details1">{{Assign.AssignTo}} </p></td>
              <td><p class="list-group-item1" *ngFor="let Manager of details1">{{Manager.R_Manager}} </p></td>
              <td><p class="list-group-item1" *ngFor="let Status of details1"  
              [ngClass]="{'btn-success':Status.P_Status == 'Completed',
              'btn-primary':Status.P_Status == 'Progress',
              'btn-danger':Status.P_Status == 'Queue'
          }"
              >{{Status.P_Status}} </p></td>
            </tr>
          </tbody>
        </table>
        </div>
         
       
</div>
<app-project-add *ngIf="clicked" (P_Details)="OnAddDetails($event)"></app-project-add>
