<div id="myModal" class="modal fade" role="dialog">

    <div class="modal-dialog">

      <div class="modal-content">

<form class="form-horizontal" #myForm (ngSubmit)="OnSaveProjectDetails()">
    <h1 style="text-align: center;">New Project Report</h1>
    <div class="modal-body">

    <div class="form-group">
            <label for="pName" class="control-label col-sm-2">Project Name</label>
           <div class="col-sm-10">
           <input class="form-control" type="text" id="pName" #pName required [(ngModel)]="addProjectDetails.ProjectName"/>
           </div>
    </div>
    <div class="form-group">
            <label for="pId" class="control-label col-sm-2">Project Number</label>
            <div class="col-sm-10">
            <input class="form-control"  type="text" id="pId" #pId  required [(ngModel)]="addProjectDetails.ProjectNumber"/>
            </div>
        </div>

            <div class="form-group">
                <label for="E_Date" class="control-label col-sm-2">Last Updated On</label>
                <div class="col-sm-10">
                <span class="form-control"    id="Last_UpdateOn" #Last_UpdateOn required >{{updatedate}}</span>
                </div>
            </div>
            <div class="form-group">
     <label for="E_Date" class="control-label col-sm-2">Last Updated By</label>
     <div class="col-sm-10">
     <input class="form-control"  type="text" id="Last_Updateby" #Last_Updateby required  [(ngModel)]="addProjectDetails.LastUpdatedBy"/>
     </div>
      </div>

                    <div class="form-group">
                            <label for="status" class="control-label col-sm-2">Status</label>
                            <div class="col-sm-10 status">
                            <div class="dropdown">
                                    <select class="form-control" #status required  >
                                            <option>Closed</option>
                                            <option>Active</option>
                                            <option>Development</option>
                                    </select>
                                  </div>
                                </div>
            </div>
             <div class="form-group">
             <label for="E_Date" class="control-label col-sm-2">Description</label>
             <div class="col-sm-10">
             <textarea class="form-control" row="3" cols="10"  id="Description" #Description required [(ngModel)]="addProjectDetails.Description"></textarea>
             </div>
            </div>
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="OnSaveProjectDetails($event)">Save</button>
        <button type="button" class="btn btn-warning" (click)="myForm.reset()">Clear</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
</form>
</div>
</div>
</div>