<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      <div class="media" *ngIf="selectProg">
    <div class="media-left media-top">
      <img src={{selectProg.profile_Path}} class="media-object" style="width:60px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{selectProg.Name | uppercase}}</h4>
      <blockquote class="blockquote" style="border-left: 5px solid #009688;"><p>{{selectProg.ID}}</p></blockquote>
      <blockquote class="blockquote" style="border-left: 5px solid #006789;"><p>{{selectProg.Designation}}</p></blockquote>
      <blockquote class="blockquote" style="border-left: 5px solid #963700;"><p>{{selectProg.Adress}}</p></blockquote>
      <blockquote class="blockquote" style="border-left: 5px solid hsl(315, 100%, 29%);"><p>{{selectProg.DOB}}</p></blockquote>
      <blockquote class="blockquote" style="border-left: 5px solid #ec0915;"><p>{{selectProg.Qualification}}</p></blockquote>
      <blockquote class="blockquote" style="border-left: 5px solid #07a1dd;"><p>{{selectProg.ContactNo}}</p></blockquote>
      <blockquote class="text-primary" style="border-left: 5px solid transparent;" >{{selectProg.Bio}}</blockquote>
    </div>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

<!--

  ID:string;
    Name:string;
    profile_Path:string;
    Designation:string;
    Adress:string;
    DOB:string;
    Qualification:string;
    ContactNo:number;
    Bio:string;
-->